.main-div{
    display: flex;
    z-index: 1;
}
.navbar{
    background-color: #4663BE;
    opacity: 89%;
    padding: 25px !important;
}
.sidebar{
    width:3%;
    z-index: 2;
    position: fixed;
}
.navbar-brand{
    font-size: 30px;
    font-weight: bold;
}
.nav-link{
    font-weight: bold !important;
}