* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.top_section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}
.logo {
  font-size: 30px;
}
.bars {
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link {
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover {
  background: lightskyblue;
  color: #000;
  transition: all 0.5s;
}
.active {
  background: lightskyblue;
  color: #000;
}
.icon,
.link_text {
  font-size: 20px;
}

.dropdown-nav .dropDownHeader {
  display: flex !important;
  justify-content: space-around !important;
}
.navDropdownLeft {
  display: inline-block !important;
  align-self: center;
}
.navDropdownRight {
  display: inline-block !important;
}
.navDropdownRight Link {
  text-decoration: none !important;
}
.dropdown-nav .dropDownFooter {
  width: 250px;
  display: flex;
  justify-content: space-around;
}
.dropdown-nav .dropDownFooter select {
  width: 100px;
  border: none;
  color: grey;
}
.MuiListItemButton-root a {
  text-decoration: none;
  color: black;
}
.dropdown-nav a::after {
  margin-top: 15px !important;
}

.css-1v5u2yv {
  padding-bottom: 0 !important;
}
/* .css-1at9qkq .css-11ur11f-MuiDrawer-docked > div {
  background-color: rgb(120, 81, 169, 0.3) !important;
} */
/* .sidebarList {
  color: #fff !important;
} */
.side-buttons:hover {
  background-color: hsl(266, 76%, 84%) !important;
}
.side-links {
  list-style: none;
  margin-bottom: 20px;
  color: black;
}
.side-links a {
  text-decoration: none;
}
.sidebar {
  width: 260px;
  background-color: #fff;
  height: 100%;
}
.SidebarList {
  height: auto;
  width: 100%;
}
.SidebarList .row {
  width: 100% !important;
  height: 60px;
  list-style-type: none;
  margin-left: 0 !important;
  display: flex;
  flex-direction: row;
  color: grey;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.sidebar .profile-image {
  width: 100%;
  margin-bottom: 20px;
  background-color: #5854b1;
  padding-bottom: 10px;
}
.sidebar .profile-image a img {
  width: 50%;
  height: auto;
  border-radius: 100%;
  margin-top: 40px;
  margin-left: 25%;
}
.sidebar .profile-image h5,
h6 {
  text-align: center;
  color: #fff;
}
.SidebarList .row:hover {
  cursor: pointer;
  background-color: #e8ece6;
}
.SidebarList #active {
  background-color: #6f6cbc;
  color: #fff;
}
.sidebar > h6 {
  color: grey;
  text-align: left;
  font-weight: bold;
  padding: 10px 20px 20px 20px;
}
.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}
.row #title {
  flex: 70%;
}
